
<main>
	<section class="landing-promo">
		<div class="landing-promo__inner">
			<div class="row">
				<div class="small-12 columns large-9 large-centered">
					<div class="row">
						<div class="small-12 column medium-6">
							<img src="{{block.settings.image | img_url: '800x'}}" alt="{{block.settings.image.alt}}">
						</div>
						<div class="small-12 columns medium-6">
							<div>
								<div class="landing-promo__logo">
									<img src="{{'logo--blowfish.svg' | asset_url}}" alt="Blowfish Logo">
								</div>
							</div>
							
							<div>
								<h1 class="landing-promo__headline">
									{{block.settings.headline}}
								</h1>

								{{block.settings.body}}
					
								<p class="landing-promo__code">
									Code:
									<span class="code">{{block.settings.code}}</span>
								</p>
					
								<a  class="button button--secondary button--medium" rel="internal" href="{{block.settings.cta-link}}">
									{{block.settings.cta-label}}
								</a>
							</div>
						
						</div>
				</div>
			</div>
		</div>
	</section>

</main>
