

<section class="landing-promo-press">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="landing-promo-press__headline">
				Featured In: 
			</h2>
			<ul class="row  columns-sm  row-md  middle-sm  center-sm">
				<li>
					<div class="landing-promo-press__logo">
						<img src="{{block.settings.press-logo-one | img_url: '200x'}}" alt="">
					</div>
				</li>
				<li>
					<div class="landing-promo-press__logo">
						<img src="{{block.settings.press-logo-two | img_url: '200x'}}" alt="">
					</div>
				</li>
				<li>
					<div class="landing-promo-press__logo">
					<img src="{{block.settings.press-logo-three | img_url: '200x'}}" alt="">
					</div>
				</li>
				<li>
					<div class="landing-promo-press__logo">
					<img src="{{block.settings.press-logo-four | img_url: '200x'}}" alt="">
					</div>
				</li>
				<li>
					<div class="landing-promo-press__logo">
					<img src="{{block.settings.press-logo-five | img_url: '200x'}}" alt="">
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>

<footer class="landing-promo-footer">
	<div class="landing-promo-footer__inner">
		<div class="row">
			<div class="col-sm-12">
				<p>
					{{block.settings.slogan}}
				</p>
			</div>
		</div>
	</div>
</footer>