
<footer class="section--primary  footer {%if template.suffix == 'science' %}narrative-slide-footer {%endif%}">

  <div class="footer-bg">
    <picture>
      <source media="(min-width: 64.0625em)" srcset="{{'bubbles--footer--large.svg' | asset_url}}">
      <source media="(min-width: 43.8125em)" srcset="{{'bubbles--footer--medium.svg' | asset_url}}">
      <img src="{{'bubbles--footer--small.svg' | asset_url}}"  alt="Blowfish character floating in bubbles">
    </picture>
  </div>

  <div class="row">
      <div class="small-12  medium-11  large-11  medium-centered    columns">
          <div class="row  grid  grid--center grid--flexDirectionColumn  med-grid--flexDirectionRow">
              <div class="small-12 medium-3   columns ">
                  <div class="row  mt4">
                    <div class="small-8 columns  medium-11  large-9  medium-push-1 large-push-2 small-centered medium-uncentered text-center  medium-text-right">
                      <a href="/" rel="internal">
                          <img src="{{'logo--blowfish--white.svg' | asset_url}}" 
                             alt="Blowfish logo"
                             title="Blowfish Logo"
                             class="mb3"
                             width="260">
                      </a>
                    </div>
                  </div>

                  <div class="row show-for-medium-up">
                      
                    <div class="small-12 columns medium-11  large-9  medium-push-1 large-push-2 small-centered medium-uncentered">

                    {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
                      <ul class="footer-social  [ grid  grid--center  grid--justifyCenter med-grid--justifyEnd ]  section-text mb0">

                        {% for social in social_accounts %}
                           {%- assign social_handle = social | handleize -%}
                            {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                            {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

                            {% if settings[social_link] != blank %}
                              <li>
                                <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}" class="icon--large section-text  mrl1">
                                  {% include social_icon %}
                                </a>
                              </li>
                            {% endif %}
                        {% endfor %}
                      </ul>

                    </div>
                              
                  </div>

              </div>

              <div class="small-12  medium-9 large-7 large-push-2  columns">
                  <div class="row">
                      <!--footer nav for small--> 
                      <div class="small-12 columns">
                        {%- assign footer_linklist = section.settings.footer_linklist -%}
                        {% if linklists[footer_linklist].links.size > 0 %}
                        <ul class="[ grid  grid--center grid--justifySpaceBetween  grid--flexDirectionColumn grid--flexWrap ] med-grid--justifySpaceAround med-grid--flexDirectionRow   med-grid--fit mb0  footer-nav">
                          {% for link in linklists[footer_linklist].links %}
                            <li><a href="{{ link.url }}" class="footer-nav-link">{{ link.title }}</a></li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row">

    <div class="medium-6  medium-push-6  medium-text-right  columns  show-for-medium-up">
       <span class="text-mini section-text">  {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} Rally Labs LLC </span>
    </div>

  </div>

  <div class="row  hide-for-medium-up">
      
      <div class="small-12 medium-4  columns text-center medium-text-right mb3">

              
      {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
        <ul class="[ grid  grid--center  grid--justifyCenter med-grid--justifyStart ]  section-text">
          {% for social in social_accounts %}
            {%- assign social_handle = social | handleize -%}
            {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
            {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

            {% if settings[social_link] != blank %}
              <li>
                <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}" class="icon--large section-text  mrl1">
                  {% include social_icon %}
                </a>
              </li>
            {% endif %}

          {% endfor %}
        </ul>


      </div>

      <div class="small-12 medium-8   medium-text-right  columns text-center">
          <span class="text-micro  section-text">
              {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} Rally Labs LLC
          </span>
      </div>

  </div>

</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
