
<footer class="{%if template.suffix == 'science' %}narrative-slide-footer {%endif%}">

  <div class="footer__bg">
    <picture>
      <source media="(min-width: 64.0625em)" srcset="{{'bubbles--footer--large.svg' | asset_url}}">
      <source media="(min-width: 43.8125em)" srcset="{{'bubbles--footer--medium.svg' | asset_url}}">
      <img src="{{'bubbles--footer--small.svg' | asset_url}}"  alt="Blowfish character floating in bubbles">
    </picture>
  </div>

  <div class="container-fluid  footer__content">
    <div class="row  center-md">
        <div class="col-sm-12 col-lg-11">
            <div class="row  middle-sm  around-md">
                <div class="col-sm-12  col-md-3">
                    <div class="row  center-sm  end-md">
                      <div class="col-sm-8  col-md-11 col-lg-9">
                        <div class="footer__logo">
                          <a href="/" rel="internal" title="Blowfish Homepage">
                            <img src="{{'logo--blowfish--white.svg' | asset_url}}" 
                               alt="Blowfish logo"
                               title="Blowfish Logo"
                               width="260">
                          </a>
                        </div>
                      </div>
                    </div>
    
                    <div class="row show-for-medium-up center-sm end-md">
                        
                      <div class="col-sm-12">
    
                      {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
                        <ul class="footer__social row  around-md">
    
                          {% for social in social_accounts %}
                             {%- assign social_handle = social | handleize -%}
                              {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                              {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}
    
                              {% if settings[social_link] != blank %}
                                <li>
                                  <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}" class="footer__social__link">
                                    {% include social_icon %}
                                  </a>
                                </li>
                              {% endif %}
                          {% endfor %}
                        </ul>
    
                      </div>
                                
                    </div>
    
                </div>
    
                <div class="col-sm-12  col-md-8  col-lg-7  col-lg-offset-2">
                  {%- assign footer_linklist = section.settings.footer_linklist -%}
                  {% if linklists[footer_linklist].links.size > 0 %}
                  <ul class="footer-nav  row  columns-sm  middle-sm  row-md  around-md">
                    {% for link in linklists[footer_linklist].links %}
                      <li class="footer-nav__item"><a href="{{ link.url }}" class="footer-nav__link">{{ link.title }}</a></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="row show-for-medium-up">
      <div class="col-md-12">
         <span class="footer__credit">  
         {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} Rally Labs LLC </span>
      </div>
    </div>
    
    <div class="row  hide-for-medium-up">
        <div class="col-sm-12">

          {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
            <ul class="footer__social row  around-sm center-sm">

              {% for social in social_accounts %}
                 {%- assign social_handle = social | handleize -%}
                  {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                  {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

                  {% if settings[social_link] != blank %}
                    <li>
                      <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}" class="">
                        {% include social_icon %}
                      </a>
                    </li>
                  {% endif %}
              {% endfor %}
            </ul>
    
        </div>
    
        <div class="col-sm-12">
            <span class="footer__credit">
                {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} Rally Labs LLC
            </span>
        </div>
    
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
