
<div class="section--main">
  <section class="section">
    <div class="wrapper">
      <div class="container-fluid">
        <!--Contact Main Content--> 
        <div class="row  middle-sm center-sm">
          <div class="col-sm-12 col-md-11 col-lg-9">
    
            <div class="row">
              <div class="col-sm-12">
                <div class="page-header">
                  <h1 class="page-header__headline  headline  {%if settings.altHeadlineOn %}headline--alt {%endif%}">
                    {{section.settings.headline}}
                  </h1>
                </div>
              </div>
            </div>  
    
            <div class="row">
              <div class="col-sm-12  col-md-6">
                {{section.settings.body}}         
                <div class="row">
                   <div class="col-sm-12  col-md-7">
                     <a href="{{section.settings.cta-destination}}" data-text="{{section.settings.cta-text}}" class="button  button--medium  button--secondary  button--expanded">
                       <span class="button-textState1">{{section.settings['cta-text']}}</span>
                     </a>
                   </div>
                 </div>
              </div>
            
              <div class="col-sm-12  col-md-6">
                <div class="">
                  <img src="{{section.settings.image | img_url: '1200x'}}" alt="{{section.settings.image.alt}}">
                </div>
              </div>
              </div>
             
            </div>
          </div>
        </div>
        <!--End Contact Main Content-->
        </div>
      </div>
    </section>
</div>

{%schema%}
{

  "name": "Guarantee Page", 
  "settings": [
    {
      "label": "Headline", 
      "id": "headline",
      "type": "text"
    },
    {
      "label": "Copy", 
      "id": "body",
      "type": "html"
    },
    {
      "label": "CTA Text", 
      "id": "cta-text",
      "type": "text"
    },
    {
      "label": "CTA Destination", 
      "id": "cta-destination",
      "type": "url"
    },
    {
      "label": "Guarantee Image", 
      "id": "image",
      "type": "image_picker"
    }
  ]
}
{%endschema%}


