


<div class="section--main">
  <section class="section  row  middle-sm center-sm" data-section-id="{{ section.id }}" data-section-type="product">
  
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign current_product = product -%}
  
    <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
    <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
    <meta itemprop="brand" content="{{ product.vendor }}">
    <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
    <meta itemprop="description" content="{{ product.description | strip_html | escape }}">
  
  
    <div class="product">
      <div class="container-fluid">
        <div class="row center-md">
            <div class="col-sm-12  col-md-10  col-lg-12">
              <div class="product__inner">
                <div class="row  center-lg middle-lg">
                      
                  <div class="col-sm-12  col-md-12 col-lg-6">
                     <div class="row  center-md">
                        <div class="col-sm-12 col-md-11 col-lg-12" id="scroll-to-product">  
                          <div class="product__images" data-product-images>
                            {%for collection in collections %}
                              {%if collection.id == 372739913 %} 
                                {%for product in collection.products%}
                                  <picture>
                                    <source src="{{ product.images[0].src | img_url: '1000x' }}" media="(min-width: 64.0625em)">
                                    <source src="{{ product.images[0].src | img_url: '700x' }}" media="(min-width: 43.8125em)">
                                    <img src="{{ product.images[0].src | img_url: '450x' }}" alt="{{ product.images[0].alt | escape }}"  class="{%if product.id != current_product.id %}is-hidden{%endif%}"  data-product-id="{{product.id}}">
                                  </picture>
                                {%endfor%}
                              {%endif%}
                             {%endfor%}
                          </div>
                        </div>
                      </div>
                  </div>
                        
                  <div class="col-sm-12  col-lg-5">
                      <div class="row">
                        <div class="col-sm-12  columns">
                          <h1 class="product__title" data-product-titles>
                          {%for collection in collections %}
                            {%if collection.id == 372739913 %} 
                              {%for product in collection.products%}
                                <span data-product-id="{{product.id}}" class="{%if product.id != current_product.id %}is-hidden{%endif%}"> {{product.title}}
                                 </span>
                              {%endfor%}
                            {%endif%}
                           {%endfor%}
                          </h1>
                      
                          <span class="product__price" data-product-prices>
                            {%for collection in collections %}
                              {%if collection.id == 372739913 %} 
                                {%for product in collection.products%}
                                  <span data-product-id="{{product.id}}" class="{%if product.id != current_product.id %}is-hidden{%endif%}"> {{product.price  | money}}
                                   </span>
                                {%endfor%}
                              {%endif%}
                             {%endfor%}
                           </span>
                      
                          <div class="product__description  mb3 text-micro" data-product-descriptions>
                          {%for collection in collections %}
                            {%if collection.id == 372739913 %} 
                              {%for product in collection.products%}
                                 <span data-product-id="{{product.id}}" class="{%if product.id != current_product.id %}is-hidden{%endif%}"> {{product.description}}
                                 </span>
                              {%endfor%}
                            {%endif%}
                           {%endfor%}
                          </div>
                        </div>
                      </div>
                    
                      <div class="row  center-sm">
                        <div class="col-sm-12">
                          <!---Product Actions--> 
                          <div class="product__actions">                        
                          
                            <label class="product__actions__label" for="productType">
                              HOW MUCH BLOWFISH TODAY?
                            </label>
                        
                            <div class="product__actions__select select-wrapper select-wrapper--primary  select-wrapper--medium">
                            {%for collection in collections %}
                              {%if collection.id == 372739913 %} 
                                <select name="product-options" id="product-option" data-product-options>
                                  {%for product in collection.products%}
                                    <option value="{{product.id}}"   {% if product.id == current_product.id %}selected="selected"{% endif %}>
                                      {{product.title}}
                                    </option>
                                  {%endfor%}
                                </select>
                              {%endif%}
                             {%endfor%}
                            </div>
                        
                            {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
                              {%for collection in collections %}
                                {%if collection.id == 372739913 %} 
                                <select name="id"  data-product-variants class="visually-hidden">
                                  {%for product in collection.products%}
                                    {%for variant in product.variants%}
                                      <option  value="{{variant.id}}" {% if variant == current_variant %}selected="selected"{% endif %} >{{variant.id}}</option>
                                    {%endfor%}
                                  {%endfor%}
                                </select>
                                {%endif%}
                               {%endfor%}
                        
                              <button class="button  button--medium  button--primary  button--expanded" type="submit"
                                      name="add"
                                      data-add-to-cart
                                      data-text="Add to Cart">
                                  <span class="button-textState1">
                                    Add to Cart 
                                  </span>
                                  <span class="button-textState2">
                                    Add to Cart 
                                  </span>
                              </button>
                           {%endform%}

                              <!--Payment Options--> 
                                <ul class="product__payment-options row middle-sm between-sm center-md contained-sm">
                                
                                  <li class=" text-center">
                                    <img src="{{'payment--apple.gif' | asset_url}}" alt="Apple Pay" width="130" class="product__payment-options__option" >
                                  </li>
                                  <li class="text-center">
                                     <img src="{{'payment--paypal.gif' | asset_url}}" alt="Paypal" width="130" class="product__payment-options__option" >
                                  </li>               
                                  <li class=" text-center">
                                    <img src="{{'payment--amazonPay.gif' | asset_url}}" alt="Amazon Pay" width="130" class="product__payment-options__option" >
                                  </li>
                                </ul>
                            <!--Payment Options--> 
                          </div>
                          <!---End Product Actions--> 
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>


{%javascript%}
//<script>
$(document).ready(function() {
  if($('[data-section-type="product"]').length > 0) {

    var selectors = {
      images: "[data-product-images]", 
      titles: "[data-product-titles]",
      prices: "[data-product-prices]",
      descriptions: "[data-product-descriptions]",
      productOptions: '[data-product-options]',
      variants: "[data-product-variants]"
    };

    var $variants = $(selectors.variants);
    var $productOptions = $(selectors.productOptions); 
    var $images = $(selectors.images); 
    var $descriptions = $(selectors.descriptions); 
    var $titles = $(selectors.titles); 
    var $prices = $(selectors.prices); 


    function changeActiveProduct(pProductId, pCollectionProducts) {

      var id = '[data-product-id=' + "\"" + pProductId + "\"]"

      $images.find('img').addClass('is-hidden');
      $images.find(id).removeClass('is-hidden');

      $descriptions.find('span').addClass('is-hidden');
      $descriptions.find(id).removeClass('is-hidden');

      $titles.find('span').addClass('is-hidden');
      $titles.find(id).removeClass('is-hidden');

      $prices.find('span').addClass('is-hidden');
      $prices.find(id).removeClass('is-hidden');


      for(var i = 0; i < pCollectionProducts.length; i++) {
        if(pProductId == pCollectionProducts[i].id) {
          $variants.val(pCollectionProducts[i].variants[0].id);
        }
      }
    }

    function getCollectionProducts(pCollectionHandle) {

      return $.ajax({
        type: "GET",
        url: '/collections/' + pCollectionHandle + '?view=json', 
        success: function(res) {
          return res;
        },
        error: function(res) {
          return res;
        }

      })
    }

    getCollectionProducts('collection-for-website').then(function(res) {
      var collectionProducts = JSON.parse(res);

      $productOptions.on('change', function() {
        var product = this.value;
        changeActiveProduct(product, collectionProducts.products); 
      }); 

    }); 

  }
});
//</script>
{%endjavascript%}


{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
