


<section class="section  section--main" data-section-id="{{ section.id }}" data-section-type="product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign current_product = product -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">


  <div class="product">
    <div class="row center-md">
        <div class="col-sm-12 col-md-10 col-lg-9 productContainer">
            <div class="row  grid grid--flexDirectionColumn  large-grid--flexDirectionRow  med-grid--center ">
    
              <div class="col-sm-12  col-md-6">
    
                 <div class="row  small-collapse">
    
                      <div class="small-7  small-centered  large-11 columns" id="scroll-to-product">  
                        <div class="product__images" data-product-images>
                          {%for collection in collections %}
                            {%if collection.id == 372739913 %} 
                              {%for product in collection.products%}
                                <img data-product-id="{{product.id}}" class="{%if product.id != current_product.id %}is-hidden{%endif%}" src="{{ product.images[0].src | img_url: '500x' }}" alt="{{ product.images[0].alt | escape }}">
                              {%endfor%}
                            {%endif%}
                           {%endfor%}
                        </div>
                      </div>
                  </div>
              </div>
                    
              <div class="small-12   large-5    columns  mb5 ">
                  <div class="row">
                    <div class="small-12 columns">
                      <h1 class="product__title" data-product-titles>
                      {%for collection in collections %}
                        {%if collection.id == 372739913 %} 
                          {%for product in collection.products%}
                            <span data-product-id="{{product.id}}" class="{%if product.id != current_product.id %}is-hidden{%endif%}"> {{product.title}}
                             </span>
                          {%endfor%}
                        {%endif%}
                       {%endfor%}
                      </h1>

                      <span class="product__price" data-product-prices>
                        {%for collection in collections %}
                          {%if collection.id == 372739913 %} 
                            {%for product in collection.products%}
                              <span data-product-id="{{product.id}}" class="{%if product.id != current_product.id %}is-hidden{%endif%}"> {{product.price  | money}}
                               </span>
                            {%endfor%}
                          {%endif%}
                         {%endfor%}
                       </span>

                      <div class="product__description  mb3 text-micro" data-product-descriptions>
                      {%for collection in collections %}
                        {%if collection.id == 372739913 %} 
                          {%for product in collection.products%}
                             <span data-product-id="{{product.id}}" class="{%if product.id != current_product.id %}is-hidden{%endif%}"> {{product.description}}
                             </span>
                          {%endfor%}
                        {%endif%}
                       {%endfor%}
                      </div>
                    </div>
                  </div>
                
                  <div class="row  center-sm">
                    <div class="col-sm-12">
                      <div class="product__actions">                        
                      
                        <label class="product__actions__label" for="productType">
                          HOW MUCH BLOWFISH TODAY?
                        </label>
      
                        <div class="product__actions__select select-custom-wrapper">
                        {%for collection in collections %}
                          {%if collection.id == 372739913 %} 
                            <select  class="select--primary select--medium" name="product-options" id="product-option" data-product-options>
                              {%for product in collection.products%}
                                <option value="{{product.id}}"   {% if product.id == current_product.id %}selected="selected"{% endif %}>
                                  {{product.title}}
                                </option>
                              {%endfor%}
                            </select>
                          {%endif%}
                         {%endfor%}
                        </div>
  
                        {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
                          {%for collection in collections %}
                            {%if collection.id == 372739913 %} 
                            <select name="id"  data-product-variants class="visually-hidden">
                              {%for product in collection.products%}
                                {%for variant in product.variants%}
                                  <option  value="{{variant.id}}" {% if variant == current_variant %}selected="selected"{% endif %} >{{variant.id}}</option>
                                {%endfor%}
                              {%endfor%}
                            </select>
                            {%endif%}
                           {%endfor%}
  
                          <button class="button  button--medium  button--primary  button--expanded"        type="submit"
                                  name="add"
                                  data-add-to-cart
                                  data-text="Add to Cart">
                              <span>
                                Add to Cart 
                              </span>
                          </button>
                       {%endform%}</div>
                    </div>
                  </div>
    
                  <!--Payment Options--> 
                  <div class="row">
                    
                    <div class="col-sm-12 columns">
                      
                      <div class="paymentOptions">
                  
                        <ul class="paymentOptions-list row middle-sm around-sm">
                        
                          <li class=" text-center">
                            <img src="{{'payment--apple.gif' | asset_url}}" alt="Apple Pay" width="130" class="paymentOptions-logo" >
                          </li>
                          <li class="text-center">
                             <img src="{{'payment--paypal.gif' | asset_url}}" alt="Paypal" width="130" class="paymentOptions-logo" >
                          </li>               
                          <li class=" text-center">
                            <img src="{{'payment--amazonPay.gif' | asset_url}}" alt="Amazon Pay" width="130" class="paymentOptions-logo" >
                          </li>
                                    
                        </ul>
                  
                      </div>
                  
                    </div>
                  
                  </div>
                  <!--Payment Options--> 
              </div>
            </div>
        </div>
    </div>
  </div>
</section>



{%javascript%}
//<script>
$(document).ready(function() {
  if($('[data-section-type="product"]').length > 0) {

    var selectors = {
      images: "[data-product-images]", 
      titles: "[data-product-titles]",
      prices: "[data-product-prices]",
      descriptions: "[data-product-descriptions]",
      productOptions: '[data-product-options]',
      variants: "[data-product-variants]"
    };

    var $variants = $(selectors.variants);
    var $productOptions = $(selectors.productOptions); 
    var $images = $(selectors.images); 
    var $descriptions = $(selectors.descriptions); 
    var $titles = $(selectors.titles); 
    var $prices = $(selectors.prices); 


    function changeActiveProduct(pProductId, pCollectionProducts) {

      var id = '[data-product-id=' + "\"" + pProductId + "\"]"

      $images.find('img').addClass('is-hidden');
      $images.find(id).removeClass('is-hidden');

      $descriptions.find('span').addClass('is-hidden');
      $descriptions.find(id).removeClass('is-hidden');

      $titles.find('span').addClass('is-hidden');
      $titles.find(id).removeClass('is-hidden');

      $prices.find('span').addClass('is-hidden');
      $prices.find(id).removeClass('is-hidden');


      for(var i = 0; i < pCollectionProducts.length; i++) {
        if(pProductId == pCollectionProducts[i].id) {
          $variants.val(pCollectionProducts[i].variants[0].id);
        }
      }
    }

    function getCollectionProducts(pCollectionHandle) {

      return $.ajax({
        type: "GET",
        url: '/collections/' + pCollectionHandle + '?view=json', 
        success: function(res) {
          return res;
        },
        error: function(res) {
          return res;
        }

      })
    }

    getCollectionProducts('collection-for-website').then(function(res) {
      var collectionProducts = JSON.parse(res);

      $productOptions.on('change', function() {
        var product = this.value;
        changeActiveProduct(product, collectionProducts.products); 
      }); 

    }); 

  }
});
//</script>
{%endjavascript%}


{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
