


<section class="section reviews-capture">
	<div class="row  center-sm">	
		<div class="col-sm-12 col-md-11 col-lg-9">
			<div class="reviews-capture__header">
				<h1 class="reviews-capture__header__headline headline {%if settings.altHeadlineOn %}headline--alt {%endif%}">
				{{section.settings.headline}}
				</h1>
				<div class="reviews-capture__header__body">
					{{section.settings.body}}
				</div>
			</div>
			<div class="row  center-sm">
				<div class="col-sm-12 col-md-11 col-lg-12">
					<div class="reviews-capture__embed">
						{%if section.settings.yotpoOn == "on" %}
							<div class="yotpo yotpo-main-widget" data-product-id="306447417373" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>
						{%else%}
						{{section.settings.embed}}
						{%endif%}</div>
				</div>
			</div>
		</div>
	</div>
</section>



{%schema%}
{
	"name": "Reviews Capture Section", 
	"settings": [
		{
			"type": "header", 
			"content": "Header Copy"
		},
		{
			"type": "text", 
			"id": "headline", 
			"label": "Headline"
		},
		{
			"type": "richtext",
			"id": "body",
			"label": "Body"
		},
		{
			"type": "header", 
			"content": "Embed Code Settings",
			"info": "Here we deterine if we're gonna be using the YOTPO review embed or use a different embed. If using a different one, turn YOTPO review off and copy paste the embed code in the corresponding field."
		},
		{
			"type": "radio",
			"id": "yotpoOn",
			"label": "Use YOTPO review embed?",
		   "options": [
		     { "value": "off", "label": "Yotpo Off" },
		     { "value": "on", "label": "Yotpo On" }
		   ]
		},
		{
			"type": "html",
			"id": "embed",
			"label": "Embed Code"
		}
	]
}

{%endschema%}

