

<section class="section--main">

	<!--Begin headline-->
	<div class="">
	  <div class="small-12 medium-9  medium-centered  columns">
	    <div class="row  grid  grid--center small-grid--flexDirectionColumn med-grid--flexDirectionRow">
	      <div class="small-12 medium-7  columns text-center medium-text-left">
	          <h1>
	            {{section.settings.headline}}
	          </h1>

	          <div class="row ">

	            <div class="small-12 columns medium-10  large-9  ">
	      					{{section.settings.body}}
	            </div>

	          </div>

	      </div>

	      <div class="small-8  medium-5 large-pull-1 columns small-centered medium-uncentered  text-center">
	          <img src="{{section.settings.image | img_url: '600x' }}" alt="{{section.settings.image.alt}}">
	      </div>

	    </div>

	  </div>

	</div>
	<!--End Headline-->

	<div class="row small-collapse">
	    <div class="small-12 medium-9   medium-centered  columns">
	      {{section.settings.embed}}
	    </div>
	</div>

</section>


{%schema%}
{

  "name": "Store Locator Page", 
  "settings": [
    {
      "label": "Headline", 
      "id": "headline",
      "type": "text"
    },
    {
      "label": "Copy", 
      "id": "body",
      "type": "html"
    },
    {
      "label": "Store Locator Image", 
      "id": "image",
      "type": "image_picker"
    },
    {
      "label": "Store Locator Embed", 
      "id": "embed",
      "type": "html"
    }
  ]
}
{%endschema%}


